.panel {
	border: 1px solid #ccc;
	padding: 12px;
}

.chart div,
.chart-two div,
.chart-three div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 8px;
	margin: 2px;
	color: white;
}

.chart div:hover,
.chart-two div:hover,
.chart-three div:hover {
	background-color: red;
}

.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: white;
    border: 1px solid #000;
    text-align: center;
    padding: 6px;
}

/* line chart */
svg {
    font-family: Sans-Serif, Arial;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}